<app-header></app-header>
<div class="container">
  <div class="containt">
    <form action="">
      <div class="question-container">
        <h4>Question 1</h4>
        <p> Quel est votre domaine d'études?</p>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Ex. Medecine" value="">
        </mat-form-field>
      </div>
      <div class="question-container">
        <h4>Question 2</h4>
        <p> Quel est votre statut?</p>
        <mat-form-field appearance="fill" >
          <mat-select [value]="'Elève'">
            <mat-option >Elève</mat-option>
            <mat-option >Etudiant</mat-option>
            <mat-option >Employé</mat-option>
            <mat-option >Autres</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="question-container">
        <h4>Question 1</h4>
        <p> Quel est votre domaine d'études?</p>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Ex. Medecine" value="">
        </mat-form-field>
      </div>
    </form>
   

    
  </div>
</div>
