.container {
  display: flex;
  justify-content: center;


  .containt{
    width: 400px;
   

    .question-container{
      width: 100%;
      
    }
    mat-form-field{
      width: 100%;
    }
  }
}
